asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
django-dbbackup
django-extensions
dj-database-url
django-environ
bcrypt
drf-yasg
django-admin-interface
django-debug-toolbar
django-filter
Pillow
django-storages
Celery
redis